.tabelOfData{
  justify-content: space-between;
    background-color: #1E1F25;
    border-radius: 20px;
    height: 244px;
    padding: 0 10px 10px 10px;
    overflow: scroll;
}
.DeleteButton{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.Table-Container {
  display: flex;
  width: 100%;
  height: 60%;
  justify-content: center;
  align-items: center;
}

.table-username {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}